<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Free money </title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<section class="content">
    <h1>🤑 Free money no scam - very easy</h1>
    <p>&#x1F389; &#128176; Your email has been added to our list! &#128176; &#x1F389; </p>
    <form method="GET" action="/">
        <input type="submit" value="Add another e-mail">
    </form>
</section>
</body>
</html>